---
// npm
import { Image } from 'astro:assets'

// self
import Layout from '@layouts/layout.astro'
import { prix, marketplace } from "@libs/constants.js"
import imgFr from '@assets/a-vendre-crop.webp'
import bus0 from '@assets/20230614_115044-90_IMGP.jpg'
import bus1 from '@assets/20230614_120718.jpg'

const description = `Skoolie à vendre ${prix} dans Otterburn Park (près de Mont-Saint-Hilaire & Beloeil): skoolie/autobus 38' (plaqué véhicule lourd, classe 3) en conversion vers un VR pour le plaquer classe 5.`

---

<Layout description={description} url="/details/" title="Skoolie - Bus - VR - à vendre">
	<main class="text-center mx-auto lg:w-[820px]">
		<a class="float-right italic link" href="/en/details/" hreflang="en-ca">English</a>
		<h1 class="text-4xl font-bold">Skoolie <small>Bus/VR</small></h1>

		<Image loading="eager" src={imgFr} alt="À vendre" />

		<div class="my-4 alert alert-info">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
			<span class="text-lg">{description}</span>
			<a href="/" class="uppercase btn btn-lg btn-secondary">Accueil</a>
		</div>

		<div class="my-4 mx-auto w-full stats stats-vertical shadow">
			<a href="tel:5143947877">
				<div class="stat place-items-center">
					<div class="stat-title">✆ Appel ou SMS</div>
					<div class="stat-value">514-394-7877</div>
				</div>
			</a>

			<a href="mailto:bus@waglo.com">
				<div class="stat place-items-center">
					<div class="stat-title">📧 courriel</div>
					<div class="stat-value">bus@waglo.com</div>
				</div>
			</a>
		</div>

		<div class="md:flex gap-4 my-4">
			<div class="flex-1">
				<h2 class="text-xl font-bold">Annonce sur <a class="link" href={marketplace}>Marketplace</a></h2>
			</div>

			<div class="flex-1">
				<h2 class="text-xl font-bold">Annonce sur <a class="link" href="https://www.kijiji.ca/v-vr-motorise/longueuil-rive-sud/skoolie-autobus-vr/1663218685">Kijiji</a></h2>
			</div>
		</div>

		<div class="grid grid-cols-2 grid sm:grid-cols-1 sm:float-right sm:ml-4">
  		<a href="/album/outside/"><Image class="rounded-lg mb-4" src={bus0} width={bus0.width/12} height={bus0.height/12} alt="Bus - devant" /></a>
	  	<a href="/album/inside/"><Image class="rounded-lg" src={bus1} width={bus0.width/12} height={bus0.height/12} alt="Bus - devant" /></a>
		</div>

		<div class="mx-auto prose my-4 text-left">
			<p>Autobus scolaire, 38 pieds, plaqué véhicule lourd (permis classe 3 requis), remisé. Certaines modifications ont été effectuées dans le but de le transformer en VR, ce qui permettra de le conduire avec classe 5. 154,000km, moteur diesel Cummings et transmission automatique Allison. Inspection mécanique A1 07-2022. Entreposé tout l'hiver.</p>
			<p>2 réservoirs d'eau potable et 2 d'eau usée. Plancher flottant et grande table pliante neuves, climatiseur sur roue, une entrée de 15 ampères (avec adaptateur 30 ampères).</p>
			<p>Tous les tuyaux et raccords viennent d'un motorisé Suburban, peuvent donc se raccorder aux installations d'un terrain de camping. 2 banquettes de 2 places.</p>
			<p>Notez que l'installation du propane (réservoirs et tuyaux) devra être révisée puisque nous n'avons pu être certifié à l'inspection. Poêle, four, frigo et chaufferette fonctionnent, il faudra cependant installer les réservoirs de propane et les tuyaux autrement pour passer l'inspection de la SAAQ.</p>
			<p>Inclus: 2 boites de plancher flottant et bois pour terminer les cloisons, au besoin.</p>
			<p>Rapport officiel Carfax et inspection mécanique disponibles.</p>
			<p>Raison de la vente: nos plans ont été bouleversés par des problèmes de santé. Nous cherchons maintenant plus petit et nous sommes ouverts aux échanges.</p>
			<p>Plus de questions? Consulter notre <a href="/faq/">FAQ à propos de la vente du skoolie</a> pour des informations complémentaires.</p>
			<blockquote>
				Pour plus d'info, voir SAAQ: <a href="https://saaq.gouv.qc.ca/transport-personnes/vehicule-lourd-habitation-motorisee/usage-personnel">Véhicule lourd transformé en habitation motorisée à des fins personnelles</a>.
			</blockquote>
		</div>
		</div>
		</main>
</Layout>
