---
import Layout from '@layouts/layout.astro'
import imgFr from '@assets/a-vendre-crop.webp'
import imgEn from '@assets/for-sale-crop.webp'
import bus0 from '@assets/20230614_115044-90_IMGP.jpg'
import bus1 from '@assets/20230614_120718-90_IMGP.jpg'
import { Image } from 'astro:assets'

---

<Layout title="Skoolie - Bus - VR - RV - à vendre - for sale">
	<main class="text-center">
		<h1 class="text-4xl font-bold">Skoolie <small>Bus/VR/RV</small></h1>
		<div class="md:flex gap-4">
			<div class="flex-1">
				<h2 class="text-xl font-bold">Annonce sur <a class="link" href="https://www.facebook.com/marketplace/item/279860211183185">Marketplace</a></h2>
				<Image class="my-4 rounded-lg" src={bus0} width={bus0.width/4} height={bus0.height/4} alt="Bus - devant" />
				<a class="link" href="tel:5143947877">514-394-7877</a>
			</div>
			<div class="flex-1">
				<h2 class="text-xl font-bold">Annonce sur <a class="link" href="https://www.kijiji.ca/v-vr-motorise/longueuil-rive-sud/skoolie-autobus-vr/1663218685">Kijiji</a></h2>
				<Image class="my-4 rounded-lg" src={bus1} width={bus1.width/4} height={bus1.height/4} alt="Bus - intérieur" />
				<a class="link" href="mailto:bus@waglo.com">bus@waglo.com</a>
			</div>
		</div>

		{/*
		<p>Contactez nous:</p>
		<ul class="list-disc">
			<li>514-394-7877</li>
			<li>bus@waglo.com</li>
		</ul>
		*/}

		{/*
		<img src={imgFr.src} width={imgFr.width} height={imgFr.height} alt="À vendre" />
		<img src={imgEn.src} width={imgEn.width} height={imgEn.height} alt="À vendre" />
		*/}
	</main>
</Layout>
